.auth-container {
  background-color: #562b08;
  height: 91vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .auth {
    max-width: 450px;
    width: 100%;
    padding: 72px;
    background-color: #d7c0ae;
    .change-auth {
      width: 100%;
      display: inline-flex;
      background-color: #562b08;
      border: 2px solid #562b08;
      border-radius: 8px;
      .login-button,
      .signup-button {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 10px 0;
        border-radius: 8px;
        cursor: pointer;
        font-size: 1rem;
        font-weight: 700;
        color: #d7c0ae;
        transition: all 0.3s;
      }
      .selected {
        background-color: #d7c0ae;
        color: #562b08;
      }
    }
  }
}
@media (max-width: 1300px) {
  .auth-container {
    height: 93.25vh;
  }
}

// signup

.signup-form {
  margin-top: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  .label {
    color: #562b08;
    font-size: 1.1rem;
    font-weight: 900;
    margin-top: 1rem;
  }
  .input {
    padding: 0.7rem;
    border-radius: 8px;
    background-color: #562b08;
    color: #d7c0ae;
    border: 2px solid #562b08;
    outline: none;
    font-size: 1rem;
  }
  .submit {
    padding: 0.7rem;
    font-size: 1rem;
    font-weight: 700;
    color: #d7c0ae;
    background-color: #562b08;
    border: 2px solid #562b08;
    border-radius: 8px;
    margin-top: 1rem;
    cursor: pointer;
    transition: all 0.3s;
    &:hover {
      background-color: #d7c0ae;
      color: #562b08;
    }
  }
  .error,
  .error-auth {
    color: red;
    font-size: 12px;
    margin-top: 0.2rem;
  }
  .error-auth {
    margin-top: 1rem;
    text-align: center;
    font-weight: 700;
  }
}
