.header {
  background-color: #d7c0ae;
  padding: 1rem 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .logo {
    border-radius: 50%;
    width: 5rem;
  }
  .navigation ul {
    display: flex;
    align-items: center;
    gap: 2rem;
    li {
      list-style-type: none;
    }
    .link {
      text-decoration: none;
      padding: 0.8rem 1.6rem;
      background-color: #d7c0ae;
      color: #562b08;
      font-weight: 800;
      font-size: 1.1rem;
      border-radius: 0.5rem;
      letter-spacing: 0.1rem;
      border: 2px solid #562b08;
      transition: all 0.4s;
      &:hover {
        color: #d7c0ae;
        background-color: #562b08;
      }
    }
  }
}
