@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
@import "header";
@import "modal";
* {
  margin: 0;
  padding: 0;
}
body {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

@media (max-width: 750px) {
  html {
    font-size: 10px;
  }
  .header {
    padding: 1rem;
  }
  .modal-cart {
    width: 100%;
  }
}
