.ReactModal__Overlay {
  opacity: 0;
  margin-right: -1000px;
  transition: all 1000ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
  margin-right: 0;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
  margin-right: -1000px;
}
.cartIcon {
  width: 2rem;
  height: 2rem;
  color: #562b08;
  background-color: #d7c0ae;
  border: 2px solid #562b08;
  padding: 0.55rem;
  border-radius: 0.5rem;
  translate: 0 0.2rem;
  transition: all 0.4s;
  cursor: pointer;
  &:hover {
    color: #d7c0ae;
    background-color: #562b08;
  }
}
.modal-cart {
  position: absolute;
  inset: 0px 0px auto auto;
  border: none;
  background: rgb(215, 192, 174);
  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding: 20px;
  height: 100vh;
  width: 25rem;
}
